$dark-value-map: (
  name: "dark",
  primary: #3b82f6,
  primary-text: #fff,
  secondary: #212121,
  secondary-text: #fff,
  //   tertiary: #dcdcdc,
  //   tertiary-text: #000000,
  // text: #000000,
  body: #2f3546,
  background-color: #212121,
);
