$dark-value-map: (
  name: "dark",
  primary: rgb(59, 130, 246),
  primary-text: #fff,
  secondary: rgb(33, 33, 33),
  secondary-text: #fff,
  //   tertiary: #dcdcdc,
  //   tertiary-text: #000000,
  // text: #000000,
  body: #2f3546,
  background-color: #212121,
);
