$light-value-map: (
  name: "light",
  primary: rgb(59, 130, 246),
  primary-text: #fff,
  secondary: rgb(33, 33, 33),
  secondary-text: #fff,
  tertiary: #b8b8b830,
  tertiary-text: #000000,
  // text: #000000,
  body: #eff3f8,
  background-color: #ffffff,
);
