$light-value-map: (
  name: "light",
  primary: #3b82f6,
  primary-text: #fff,
  secondary: #212121,
  secondary-text: #fff,
  //   tertiary: #dcdcdc,
  //   tertiary-text: #000000,
  // text: #000000,
  body: #eff3f8,
  background-color: #ffffff,
);
